    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('historial', username=consultas.ejecutivo.username) }}">
                </a>
            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('historial', username=consultas.ejecutivo.username) }}">
                        {{ consultas.ejecutivo.username }}
                    </a>
                {% endset %}
                {{ _('%(username)s dijo %(when)s',
                    username=user_link, when=moment(consultas.fecha_ev).fromNow()) }}
                <br>
                {% if current_user.es_admin==False %}
                {{ consultas }}
                {% elif current_user.es_admin==True %}
                {{ consultas }}
                {% endif %}
            </td>
        </tr>
    </table>
