{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preload" href="../static/css/normalize.css" as="style">
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
        <link rel="preload" href="../static/css/main.css" as="style">
        <link rel="stylesheet" href="../static/css/main.css">
    </head>

    <body>

        <header>
            <h1 class="encabezado subrayado">Historial de Consultas</h1>    
        </header>
        <div class="historial-header"> 
            <h2 class= "seguimiento">{{ _('Hola %(username)s, las consultas mas recientes de %(empresa)s son:', username=current_user.username, empresa=current_user.empresa) }}</h2>
        </div>
        <!-- Buscador -->
        <div class="buscador"> 
            
                {% if g.search_form %}
                <form method="get" action="{{ url_for('main.search') }}">
                <!--<form class="navbar-form navbar-left" method="get"-->
                        
                    <div class="form-group">
                        {{ g.search_form.q(size=20, class='form-control',
                            placeholder=g.search_form.q.label.text) }}
                    </div>
                </form>
                {% endif %}
        </div>

        <div class="">
            {% if form %}
            {{ wtf.quick_form(form) }}
            <br>
            {% endif %}
            {% for consultas in consultas %}
            <div class="historial">
                {% include '_consultas.html' %}
                {% if consultas.score_final < 333 %}
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-circle" width="64" height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <circle cx="12" cy="12" r="9" />
                      <line x1="12" y1="8" x2="12" y2="12" />
                      <line x1="12" y1="16" x2="12.01" y2="16" />
                    </svg>
                {% elif consultas.score_final < 666 %}
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-circle" width="64" height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffec00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <circle cx="12" cy="12" r="9" />
                      <line x1="12" y1="8" x2="12" y2="12" />
                      <line x1="12" y1="16" x2="12.01" y2="16" />
                    </svg>
                {% elif consultas.score_final <= 1000 %}
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-circle" width="64" height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00b341" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <circle cx="12" cy="12" r="9" />
                      <line x1="12" y1="8" x2="12" y2="12" />
                      <line x1="12" y1="16" x2="12.01" y2="16" />
                    </svg>
                {% endif %}
                <a href="{{ url_for('main.evaluacion', consultaid=consultas.id) }}" class="button">Ver mas</a>
                
            </div>
            {% endfor %}
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&larr;</span> {{ _('Consultas Recientes') }}
                        </a>
                    </li>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            {{ _('Consultas Antiguas') }} <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div> 

        
    </body>
</html>

{% endblock %}
